@charset "UTF-8";
/* CSS Document */

.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 3000;

	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}

.skiplinks li {
	margin: 0;
	padding: 0;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	left: 0;
	padding: 0.75em 1em;
	position: absolute;
	top: -10em;

	background-color: #000;

	color: #fff;
	text-decoration: none;
}


.skiplinks a:focus {
	top: 0;
}



html {
	background:#000;
	background:url(../images/debut_dark.png);
}

body {
	margin:0;
}

header {
	margin:0;
	width:100%; 
	background-color:#900F3F;
}

h2 {
	margin:0;
	padding-bottom:5em;
	padding-top:5em;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}


.maincontent {
	padding:1em;
}

.container {
	max-width
}

.navMenu {
	background-color:black;
	width:100%;
	margin-top:-5px;
}

.navMenu ul {
	max-width:850px;
	margin:0 auto;
	padding:0;
}

ul {
	padding:0;
}

.fixedTop {
	position:fixed;
	width:100%;
	margin:0 auto;
	top:0;
	z-index:100;
}

.navMenu li {
	display:inline-block;
	margin:1em 4.5em;
	list-style:none;
}

nav li {
	list-style:none;
}



a,
a:hover,
a:focus {
	text-decoration:none;
	color:#CCC;
}

a:active {
	text-decoration:underline;
	color:#900F3F;
}

a {
	color:#fff;
}



li {
	padding:0;
	margin:0;
}

.list-group {
	padding-left: 0;
	list-style-type: none;
	text-decoration:none;
}

.list-group-item {
	display:block;
}

.list-group-item-inline {
	display:inline-block;
}

.flex-img {
	display: block;
	width: 100%;
}

.circle {
	border-radius: 50%;
	width: 300px;
	height: 300px; 
}

.circle2 {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
}


.fade:hover {
    opacity: 0.5;
}
.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}


.footer-bottom {
	bottom:0;
}

footer p {
	color:#FFF;
}

.footer-contact {
		background-color:#000;
		padding:2em;
}

h3, h4 {
	color:#fff;
}